In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
data = pd.read_csv("FindXWithRegex/Worldometers_data.csv")

In [3]:
data

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Recovered,Active,Serious_Critical,Tot Cases/1M pop,Deaths/1 M pop,Tests,Tests/1Mpop
0,USA,"455,081","20,154","16,094","1,306","24,562","414,425","9,733","1,375",49,"2,309,531","6,977"
1,Spain,"152,446","4,226","15,238",446,"52,165","85,043","7,371","3,261",326,"355,000","7,593"
2,Italy,"143,626","4,204","18,279",610,"28,470","96,877","3,605","2,375",302,"853,369","14,114"
3,France,"117,749","4,799","12,210","1,341","23,206","82,333","7,066","1,804",187,"224,254","3,436"
4,Germany,"115,523","2,227","2,451",102,"46,300","66,772","4,895","1,379",29,"1,317,887","15,730"
...,...,...,...,...,...,...,...,...,...,...,...,...
206,South Sudan,3,1,NaN,NaN,NaN,3,NaN,0.3,NaN,NaN,NaN
207,Caribbean Netherlands,2,NaN,NaN,NaN,NaN,2,NaN,76,NaN,10,381
208,Papua New Guinea,2,NaN,NaN,NaN,NaN,2,NaN,0.2,NaN,72,8
209,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,1,NaN,173,NaN,NaN,NaN
210,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.8,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           211 non-null    object
 1   Total_Cases       211 non-null    object
 2   New_Cases         117 non-null    object
 3   Total_Deaths      160 non-null    object
 4   New_Deaths        71 non-null     object
 5   Recovered         180 non-null    object
 6   Active            211 non-null    object
 7   Serious_Critical  127 non-null    object
 8   Tot Cases/1M pop  209 non-null    object
 9   Deaths/1 M pop    158 non-null    object
 10  Tests             151 non-null    object
 11  Tests/1Mpop       151 non-null    object
dtypes: object(12)
memory usage: 19.9+ KB

## Renommage de colonne

In [5]:
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('\xa0', '_')
data.columns = data.columns.str.replace('/', '_')
data.columns = data.columns.str.lower()
data.columns

Index(['country', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'recovered', 'active', 'serious_critical', 'tot_cases_1m_pop',
       'deaths_1_m_pop', 'tests', 'tests_1mpop'],
      dtype='object')

### Fonction qui remplace les Nan par 0

In [6]:
#def replace_nan_with_zero(columns):
#    columns = columns.fillna(0, inplace=True)

### Fonction qui compte les nan dans une colonne

In [7]:
def sum_nan_columns(columns):
    print("Nan total : ",columns.isna().sum())

## 1. total_cases colonne

In [8]:
sum_nan_columns(data.total_cases)

Nan total :  0

In [9]:
data.total_cases.unique()

array(['455,081', '152,446', '143,626', '117,749', '115,523', '81,865',
       '66,220', '60,733', '42,282', '24,983', '24,046', '21,762',
       '20,690', '16,474', '13,956', '13,237', '10,423', '10,131',
       '9,755', '9,141', '6,653', '6,574', '6,160', '6,104', '5,972',
       '5,635', '5,575', '5,467', '5,202', '4,965', '4,667', '4,489',
       '4,342', '4,228', '4,076', '3,293', '3,287', '3,181', '3,115',
       '2,867', '2,659', '2,605', '2,528', '2,423', '2,376', '2,349',
       '2,054', '1,955', '1,910', '1,892', '1,845', '1,795', '1,666',
       '1,648', '1,560', '1,486', '1,407', '1,374', '1,289', '1,239',
       '1,232', '1,207', '1,124', '980', '974', '955', '926', '921',
       '910', '855', '850', '764', '730', '712', '701', '663', '643',
       '618', '589', '583', '582', '564', '515', '502', '484', '457',
       '456', '443', '409', '384', '380', '372', '362', '361', '343',
       '342', '337', '330', '314', '313', '308', '280', '276', '264',
       '263', '255', '252', '250', '218', '194', '190', '184', '180',
       '167', '154', '141', '135', '124', '123', '119', '110', '109',
       '103', '95', '93', '84', '83', '82', '78', '74', '73', '63', '60',
       '56', '53', '51', '45', '43', '40', '39', '37', '36', '34', '33',
       '32', '31', '30', '26', '25', '23', '21', '19', '18', '17', '16',
       '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4',
       '3', '2', '1'], dtype=object)

In [10]:
data['total_cases'] = data['total_cases'].str.replace(',', '', regex=True).astype('int')

In [11]:
data.total_cases.unique()

array([455081, 152446, 143626, 117749, 115523,  81865,  66220,  60733,
        42282,  24983,  24046,  21762,  20690,  16474,  13956,  13237,
        10423,  10131,   9755,   9141,   6653,   6574,   6160,   6104,
         5972,   5635,   5575,   5467,   5202,   4965,   4667,   4489,
         4342,   4228,   4076,   3293,   3287,   3181,   3115,   2867,
         2659,   2605,   2528,   2423,   2376,   2349,   2054,   1955,
         1910,   1892,   1845,   1795,   1666,   1648,   1560,   1486,
         1407,   1374,   1289,   1239,   1232,   1207,   1124,    980,
          974,    955,    926,    921,    910,    855,    850,    764,
          730,    712,    701,    663,    643,    618,    589,    583,
          582,    564,    515,    502,    484,    457,    456,    443,
          409,    384,    380,    372,    362,    361,    343,    342,
          337,    330,    314,    313,    308,    280,    276,    264,
          263,    255,    252,    250,    218,    194,    190,    184,
          180,    167,    154,    141,    135,    124,    123,    119,
          110,    109,    103,     95,     93,     84,     83,     82,
           78,     74,     73,     63,     60,     56,     53,     51,
           45,     43,     40,     39,     37,     36,     34,     33,
           32,     31,     30,     26,     25,     23,     21,     19,
           18,     17,     16,     15,     14,     13,     12,     11,
           10,      9,      8,      7,      6,      5,      4,      3,
            2,      1])

## 2. new_cases

In [12]:
data.new_cases.unique()

array(['20,154', '4,226', '4,204', '4,799', '2,227', '63', '1,634', nan,
       '4,056', '1,580', '766', '1,213', '1,252', '286', '815', '295',
       '39', '1,459', '351', '722', '737', '500', '118', '52', '426',
       '233', '370', '155', '441', '515', '226', '109', '206', '337',
       '355', '396', '81', '201', '54', '166', '238', '71', '287', '224',
       '94', '32', '420', '64', '99', '115', '29', '30', '22', '33', '85',
       '13', '43', '104', '40', '55', '46', '37', '19', '15', '25', '12',
       '6', '38', '58', '9', '1', '14', '10', '31', '112', '41', '4', '7',
       '5', '3', '2', '8'], dtype=object)

In [13]:
sum_nan_columns(data.new_cases)

Nan total :  94

In [14]:
data['new_cases'] = data['new_cases'].str.replace(',', '', regex=True)

In [15]:
data.new_cases.unique()

array(['20154', '4226', '4204', '4799', '2227', '63', '1634', nan, '4056',
       '1580', '766', '1213', '1252', '286', '815', '295', '39', '1459',
       '351', '722', '737', '500', '118', '52', '426', '233', '370',
       '155', '441', '515', '226', '109', '206', '337', '355', '396',
       '81', '201', '54', '166', '238', '71', '287', '224', '94', '32',
       '420', '64', '99', '115', '29', '30', '22', '33', '85', '13', '43',
       '104', '40', '55', '46', '37', '19', '15', '25', '12', '6', '38',
       '58', '9', '1', '14', '10', '31', '112', '41', '4', '7', '5', '3',
       '2', '8'], dtype=object)

## 3. total_deaths

In [16]:
data.total_deaths.unique()

array(['16,094', '15,238', '18,279', '12,210', '2,451', '3,335', '4,110',
       '7,097', '908', '2,523', '948', '2,396', '503', '839', '409',
       '295', '204', '76', '79', '793', '199', '263', '108', '51', '57',
       '237', '174', '112', '246', '272', '94', '63', '121', '67', '203',
       '280', '44', '52', '66', '12', '42', '32', '6', '118', '55', '87',
       '18', '71', '235', '103', '16', '20', '97', '29', '1', '69', '24',
       '43', '4', '9', '10', '5', '35', '7', '11', '2', '30', '25', '3',
       '19', '15', '23', nan, '8', '21', '34'], dtype=object)

In [17]:
data['total_deaths'] = data['total_deaths'].str.replace(',', '', regex=True)

In [18]:
data.total_deaths.unique()

array(['16094', '15238', '18279', '12210', '2451', '3335', '4110', '7097',
       '908', '2523', '948', '2396', '503', '839', '409', '295', '204',
       '76', '79', '793', '199', '263', '108', '51', '57', '237', '174',
       '112', '246', '272', '94', '63', '121', '67', '203', '280', '44',
       '52', '66', '12', '42', '32', '6', '118', '55', '87', '18', '71',
       '235', '103', '16', '20', '97', '29', '1', '69', '24', '43', '4',
       '9', '10', '5', '35', '7', '11', '2', '30', '25', '3', '19', '15',
       '23', nan, '8', '21', '34'], dtype=object)

## 4. new_deaths

In [19]:
data.new_deaths.unique()

array(['1,306', '446', '610', '1,341', '102', '2', '117', nan, '96',
       '283', '53', '148', '76', '19', '29', '22', '4', '13', '6', '106',
       '21', '28', '7', '1', '9', '15', '26', '30', '40', '3', '33', '10',
       '5', '8'], dtype=object)

In [20]:
data['new_deaths'] = data['new_deaths'].str.replace(',', '', regex=True)

In [21]:
data.new_deaths.unique()

array(['1306', '446', '610', '1341', '102', '2', '117', nan, '96', '283',
       '53', '148', '76', '19', '29', '22', '4', '13', '6', '106', '21',
       '28', '7', '1', '9', '15', '26', '30', '40', '3', '33', '10', '5',
       '8'], dtype=object)

## 5. recovered

In [22]:
data.recovered.unique()

array(['24,562', '52,165', '28,470', '23,206', '46,300', '77,370',
       '32,309', '135', '2,142', '5,164', '10,600', '250', '5,196', '173',
       '205', '5,240', '6,973', '698', '864', '602', '25', '32', '2,987',
       '1,274', '1,736', '284', '301', '647', '339', '632', '572',
       '1,333', '1,608', '124', '252', '666', '633', '374', '118', '239',
       '300', '16', '940', '206', '80', '123', '269', '460', '45', '95',
       '365', '347', '688', '305', '139', '219', '109', '50', '317',
       '496', '83', '128', '96', '293', '8', '101', '138', '111', '495',
       '60', '619', '23', '37', '48', '58', '67', '38', '53', '28', '29',
       '192', '146', '165', '161', '40', '6', '33', '34', '35', '44', '2',
       '4', '51', '11', '49', '92', '12', '22', '136', '9', '65', '43',
       '18', '63', '7', '1', '10', '17', '5', '20', '55', '24', nan, '3',
       '13'], dtype=object)

In [23]:
data['recovered'] = data['recovered'].str.replace(',', '', regex=True)

In [24]:
data.recovered.unique()

array(['24562', '52165', '28470', '23206', '46300', '77370', '32309',
       '135', '2142', '5164', '10600', '250', '5196', '173', '205',
       '5240', '6973', '698', '864', '602', '25', '32', '2987', '1274',
       '1736', '284', '301', '647', '339', '632', '572', '1333', '1608',
       '124', '252', '666', '633', '374', '118', '239', '300', '16',
       '940', '206', '80', '123', '269', '460', '45', '95', '365', '347',
       '688', '305', '139', '219', '109', '50', '317', '496', '83', '128',
       '96', '293', '8', '101', '138', '111', '495', '60', '619', '23',
       '37', '48', '58', '67', '38', '53', '28', '29', '192', '146',
       '165', '161', '40', '6', '33', '34', '35', '44', '2', '4', '51',
       '11', '49', '92', '12', '22', '136', '9', '65', '43', '18', '63',
       '7', '1', '10', '17', '5', '20', '55', '24', nan, '3', '13'],
      dtype=object)

## 6. active

In [25]:
data.active.unique()

array(['414,425', '85,043', '96,877', '82,333', '66,772', '1,160',
       '29,801', '53,501', '39,232', '17,296', '12,498', '19,116',
       '14,991', '15,462', '13,342', '7,702', '3,246', '9,357', '8,812',
       '8,143', '5,852', '6,286', '6,020', '3,066', '4,641', '3,662',
       '5,117', '5,054', '4,309', '4,354', '3,941', '3,854', '2,888',
       '2,553', '3,749', '2,761', '2,577', '2,374', '2,689', '2,683',
       '2,408', '2,263', '2,449', '1,451', '2,164', '2,151', '1,876',
       '1,599', '1,444', '1,790', '1,732', '1,359', '1,084', '954',
       '1,152', '1,331', '1,168', '1,210', '921', '667', '1,100', '953',
       '818', '677', '931', '816', '773', '798', '355', '714', '697',
       '660', '82', '676', '596', '593', '546', '570', '500', '496',
       '541', '501', '472', '470', '437', '345', '257', '273', '221',
       '333', '295', '204', '322', '313', '314', '303', '319', '276',
       '284', '229', '241', '226', '244', '218', '127', '246', '125',
       '164', '183', '134', '97', '165', '160', '48', '153', '93', '98',
       '90', '42', '110', '101', '63', '56', '103', '100', '88', '75',
       '78', '40', '62', '22', '45', '46', '49', '52', '50', '53', '51',
       '38', '35', '36', '28', '13', '31', '23', '32', '33', '24', '20',
       '19', '12', '15', '17', '6', '16', '11', '14', '10', '5', '8', '9',
       '0', '7', '4', '3', '1', '2'], dtype=object)

In [26]:
data['active'] = data['active'].str.replace(',', '', regex=True)

In [27]:
data.active.unique()

array(['414425', '85043', '96877', '82333', '66772', '1160', '29801',
       '53501', '39232', '17296', '12498', '19116', '14991', '15462',
       '13342', '7702', '3246', '9357', '8812', '8143', '5852', '6286',
       '6020', '3066', '4641', '3662', '5117', '5054', '4309', '4354',
       '3941', '3854', '2888', '2553', '3749', '2761', '2577', '2374',
       '2689', '2683', '2408', '2263', '2449', '1451', '2164', '2151',
       '1876', '1599', '1444', '1790', '1732', '1359', '1084', '954',
       '1152', '1331', '1168', '1210', '921', '667', '1100', '953', '818',
       '677', '931', '816', '773', '798', '355', '714', '697', '660',
       '82', '676', '596', '593', '546', '570', '500', '496', '541',
       '501', '472', '470', '437', '345', '257', '273', '221', '333',
       '295', '204', '322', '313', '314', '303', '319', '276', '284',
       '229', '241', '226', '244', '218', '127', '246', '125', '164',
       '183', '134', '97', '165', '160', '48', '153', '93', '98', '90',
       '42', '110', '101', '63', '56', '103', '100', '88', '75', '78',
       '40', '62', '22', '45', '46', '49', '52', '50', '53', '51', '38',
       '35', '36', '28', '13', '31', '23', '32', '33', '24', '20', '19',
       '12', '15', '17', '6', '16', '11', '14', '10', '5', '8', '9', '0',
       '7', '4', '3', '1', '2'], dtype=object)

In [28]:
sum_nan_columns(data.active)

Nan total :  0

## 7. serious_critical

In [29]:
data.serious_critical.unique()

array(['9,733', '7,371', '3,605', '7,066', '4,895', '176', '3,918',
       '1,559', '1,552', '1,285', '386', '1,424', '518', '296', '241',
       '266', '55', '8', '165', '719', nan, '78', '81', '360', '120',
       '160', '96', '178', '139', '99', '31', '113', '72', '1', '41',
       '89', '30', '127', '82', '101', '61', '37', '147', '85', '79',
       '29', '33', '7', '46', '11', '34', '80', '4', '9', '17', '14',
       '21', '27', '22', '3', '10', '5', '15', '32', '13', '2', '6', '12',
       '19'], dtype=object)

In [30]:
data['serious_critical'] = data['serious_critical'].str.replace(',', '', regex=True)

In [31]:
data.serious_critical.unique()

array(['9733', '7371', '3605', '7066', '4895', '176', '3918', '1559',
       '1552', '1285', '386', '1424', '518', '296', '241', '266', '55',
       '8', '165', '719', nan, '78', '81', '360', '120', '160', '96',
       '178', '139', '99', '31', '113', '72', '1', '41', '89', '30',
       '127', '82', '101', '61', '37', '147', '85', '79', '29', '33', '7',
       '46', '11', '34', '80', '4', '9', '17', '14', '21', '27', '22',
       '3', '10', '5', '15', '32', '13', '2', '6', '12', '19'],
      dtype=object)

## 8. tot_cases_1m_pop

In [32]:
data.tot_cases_1m_pop.unique()

array(['1,375', '3,261', '2,375', '1,804', '1,379', '57', '788', '895',
       '501', '2,156', '2,778', '1,270', '548', '78', '1,369', '1,470',
       '203', '69', '1,127', '905', '5', '1,331', '1,136', '239', '312',
       '973', '147', '511', '270', '281', '37', '20', '132', '131', '12',
       '94', '25', '4,976', '328', '269', '470', '586', '35', '825',
       '217', '40', '188', '326', '43', '31', '38', '4,829', '15', '157',
       '343', '320', '257', '910', '541', '101', '130', '351', '91',
       '311', '213', '502', '259', '41', '27', nan, '128', '318', '54',
       '89', '7,545', '85', '17', '467', '45', '99', '21', '142', '16',
       '36', '404', '2,076', '14', '763', '2', '247', '10', '9,077', '1',
       '23', '52', '3', '401', '55', '9', '2,234', '674', '3,766', '6',
       '410', '352', '309', '137', '3,651', '7', '8', '2,141', '278',
       '768', '2,046', '4', '219', '11', '0.5', '182', '685', '1,003',
       '102', '626', '47', '18', '828', '0.4', '0.6', '194', '13', '63',
       '0.3', '208', '76', '0.8', '107', '0.7', '207', '112', '1,803',
       '9,988', '72', '0.9', '607', '1,437', '200', '0.2', '173'],
      dtype=object)

In [33]:
data['tot_cases_1m_pop'] = data['tot_cases_1m_pop'].str.replace(',', '', regex=True)

In [34]:
data.tot_cases_1m_pop.unique()

array(['1375', '3261', '2375', '1804', '1379', '57', '788', '895', '501',
       '2156', '2778', '1270', '548', '78', '1369', '1470', '203', '69',
       '1127', '905', '5', '1331', '1136', '239', '312', '973', '147',
       '511', '270', '281', '37', '20', '132', '131', '12', '94', '25',
       '4976', '328', '269', '470', '586', '35', '825', '217', '40',
       '188', '326', '43', '31', '38', '4829', '15', '157', '343', '320',
       '257', '910', '541', '101', '130', '351', '91', '311', '213',
       '502', '259', '41', '27', nan, '128', '318', '54', '89', '7545',
       '85', '17', '467', '45', '99', '21', '142', '16', '36', '404',
       '2076', '14', '763', '2', '247', '10', '9077', '1', '23', '52',
       '3', '401', '55', '9', '2234', '674', '3766', '6', '410', '352',
       '309', '137', '3651', '7', '8', '2141', '278', '768', '2046', '4',
       '219', '11', '0.5', '182', '685', '1003', '102', '626', '47', '18',
       '828', '0.4', '0.6', '194', '13', '63', '0.3', '208', '76', '0.8',
       '107', '0.7', '207', '112', '1803', '9988', '72', '0.9', '607',
       '1437', '200', '0.2', '173'], dtype=object)

## 9. deaths_1_m_pop

In [35]:
data.deaths_1_m_pop.unique()

array(['49', '326', '302', '187', '29', '2', '105', '11', '218', '110',
       '140', '13', '4', '40', '33', '0.5', '9', '79', '0.1', '53', '20',
       '3', '41', '5', '10', '15', '0.7', '0.3', '1', '83', '8', '18',
       '7', '0.2', '21', '6', '0.9', '0.4', nan, '14', '324', '0.09',
       '0.6', '46', '1,002', '0.03', '0.8', '12', '16', '25', '26',
       '0.02', '48', '0.05', '52', '0.08', '0.06'], dtype=object)

In [36]:
data['deaths_1_m_pop'] = data['deaths_1_m_pop'].str.replace(',', '', regex=True)

In [37]:
data.deaths_1_m_pop.unique()

array(['49', '326', '302', '187', '29', '2', '105', '11', '218', '110',
       '140', '13', '4', '40', '33', '0.5', '9', '79', '0.1', '53', '20',
       '3', '41', '5', '10', '15', '0.7', '0.3', '1', '83', '8', '18',
       '7', '0.2', '21', '6', '0.9', '0.4', nan, '14', '324', '0.09',
       '0.6', '46', '1002', '0.03', '0.8', '12', '16', '25', '26', '0.02',
       '48', '0.05', '52', '0.08', '0.06'], dtype=object)

## 10. tests

In [38]:
data.tests.unique()

array(['2,309,531', '355,000', '853,369', '224,254', '1,317,887', nan,
       '231,393', '282,074', '276,338', '84,248', '178,500', '101,534',
       '370,315', '63,000', '140,368', '126,287', '477,304', '1,004,719',
       '117,339', '54,700', '167,235', '42,484', '121,034', '330,134',
       '68,353', '64,002', '107,597', '106,845', '51,802', '19,102',
       '61,498', '44,896', '39,599', '63,367', '24,500', '14,354',
       '25,410', '27,521', '12,347', '593,095', '39,000', '11,776',
       '71,860', '43,144', '4,542', '33,575', '33,634', '65,000',
       '20,608', '63,776', '14,850', '3,359', '32,663', '25,000',
       '49,000', '13,680', '6,116', '5,108', '51,165', '30,466', '26,416',
       '31,813', '27,826', '96,709', '32,809', '57,371', '5,823',
       '54,708', '6,911', '59,371', '21,371', '6,571', '9,570', '15,899',
       '25,458', '1,673', '12,524', '70,000', '14,273', '9,410', '6,035',
       '6,175', '3,223', '42,315', '17,000', '1,157', '4,199', '13,732',
       '4,913', '722', '9,618', '5,000', '591', '16,068', '114,241',
       '2,329', '3,271', '3,248', '1,879', '5,278', '1,100', '5,299',
       '1,779', '8,985', '3,106', '2,039', '1,511', '5,768', '806', '987',
       '1,134', '1,008', '900', '1,747', '907', '655', '2,790', '3,310',
       '744', '479', '112', '315', '1,239', '145', '1,500', '257',
       '1,246', '374', '40', '854', '2,320', '483', '903', '362', '293',
       '1,154', '45', '371', '770', '183', '364', '2,366', '36', '61',
       '56', '67', '1,166', '137', '19', '10', '72'], dtype=object)

In [39]:
data['tests'] = data['tests'].str.replace(',', '', regex=True)

In [40]:
data.tests.unique()

array(['2309531', '355000', '853369', '224254', '1317887', nan, '231393',
       '282074', '276338', '84248', '178500', '101534', '370315', '63000',
       '140368', '126287', '477304', '1004719', '117339', '54700',
       '167235', '42484', '121034', '330134', '68353', '64002', '107597',
       '106845', '51802', '19102', '61498', '44896', '39599', '63367',
       '24500', '14354', '25410', '27521', '12347', '593095', '39000',
       '11776', '71860', '43144', '4542', '33575', '33634', '65000',
       '20608', '63776', '14850', '3359', '32663', '25000', '49000',
       '13680', '6116', '5108', '51165', '30466', '26416', '31813',
       '27826', '96709', '32809', '57371', '5823', '54708', '6911',
       '59371', '21371', '6571', '9570', '15899', '25458', '1673',
       '12524', '70000', '14273', '9410', '6035', '6175', '3223', '42315',
       '17000', '1157', '4199', '13732', '4913', '722', '9618', '5000',
       '591', '16068', '114241', '2329', '3271', '3248', '1879', '5278',
       '1100', '5299', '1779', '8985', '3106', '2039', '1511', '5768',
       '806', '987', '1134', '1008', '900', '1747', '907', '655', '2790',
       '3310', '744', '479', '112', '315', '1239', '145', '1500', '257',
       '1246', '374', '40', '854', '2320', '483', '903', '362', '293',
       '1154', '45', '371', '770', '183', '364', '2366', '36', '61', '56',
       '67', '1166', '137', '19', '10', '72'], dtype=object)

## 11. tests_1mpop

In [41]:
data.tests_1mpop.unique()

array(['6,977', '7,593', '14,114', '3,436', '15,730', nan, '2,755',
       '4,155', '3,277', '7,269', '20,625', '5,926', '9,812', '296',
       '13,766', '14,022', '9,310', '6,885', '13,557', '5,416', '121',
       '8,604', '22,326', '12,946', '3,576', '11,050', '2,843', '9,977',
       '2,693', '1,083', '486', '203', '1,201', '1,958', '224', '52',
       '197', '43,965', '1,413', '59,967', '7,039', '2,729', '1,030',
       '14,975', '419', '660', '3,227', '11,110', '471', '1,075', '329',
       '77', '95,718', '244', '5,186', '3,332', '166', '1,266', '10,610',
       '757', '19,914', '15,303', '2,880', '12,900', '12,052', '5,658',
       '1,965', '32,151', '2,106', '3,162', '3,914', '3,154', '810',
       '2,288', '13,497', '21,653', '1,835', '2,091', '11,822', '831',
       '1,185', '1,778', '1,120', '1,777', '1,666', '6,655', '173',
       '31,100', '37', '3,863', '21,278', '1,474', '24', '51', '3,150',
       '1,174', '3,708', '820', '152', '22,097', '98', '4,032', '108,446',
       '63', '20,538', '3,144', '286', '44,849', '345', '62', '705',
       '9,441', '23,605', '211', '306', '2,279', '72', '2,649', '7,288',
       '2,612', '5,058', '67', '184', '762', '23', '54', '408', '609',
       '8,126', '15', '124', '142', '4,070', '491', '400', '25', '13,564',
       '3,440', '915', '81', '7,212', '1,576', '505', '14', '1,511',
       '39,368', '87', '381', '8'], dtype=object)

In [42]:
data['tests_1mpop'] = data['tests_1mpop'].str.replace(',', '', regex=True)

In [43]:
data.tests_1mpop.unique()

array(['6977', '7593', '14114', '3436', '15730', nan, '2755', '4155',
       '3277', '7269', '20625', '5926', '9812', '296', '13766', '14022',
       '9310', '6885', '13557', '5416', '121', '8604', '22326', '12946',
       '3576', '11050', '2843', '9977', '2693', '1083', '486', '203',
       '1201', '1958', '224', '52', '197', '43965', '1413', '59967',
       '7039', '2729', '1030', '14975', '419', '660', '3227', '11110',
       '471', '1075', '329', '77', '95718', '244', '5186', '3332', '166',
       '1266', '10610', '757', '19914', '15303', '2880', '12900', '12052',
       '5658', '1965', '32151', '2106', '3162', '3914', '3154', '810',
       '2288', '13497', '21653', '1835', '2091', '11822', '831', '1185',
       '1778', '1120', '1777', '1666', '6655', '173', '31100', '37',
       '3863', '21278', '1474', '24', '51', '3150', '1174', '3708', '820',
       '152', '22097', '98', '4032', '108446', '63', '20538', '3144',
       '286', '44849', '345', '62', '705', '9441', '23605', '211', '306',
       '2279', '72', '2649', '7288', '2612', '5058', '67', '184', '762',
       '23', '54', '408', '609', '8126', '15', '124', '142', '4070',
       '491', '400', '25', '13564', '3440', '915', '81', '7212', '1576',
       '505', '14', '1511', '39368', '87', '381', '8'], dtype=object)

In [44]:
data.columns

Index(['country', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'recovered', 'active', 'serious_critical', 'tot_cases_1m_pop',
       'deaths_1_m_pop', 'tests', 'tests_1mpop'],
      dtype='object')

In [45]:
data = data.fillna(0)

In [46]:
data['total_cases'] = data['total_cases'].astype(np.float16)
data['new_cases'] = data['new_cases'].astype(np.float16)
data['total_deaths'] = data['total_deaths'].astype(np.float16)
data['new_deaths'] = data['new_deaths'].astype(np.float16)
data['recovered'] = data['recovered'].astype(np.float16)
data['active'] = data['active'].astype(np.float16)
data['serious_critical'] = data['serious_critical'].astype(np.float16)
data['tot_cases_1m_pop'] = data['tot_cases_1m_pop'].astype(np.float16)
data['deaths_1_m_pop'] = data['deaths_1_m_pop'].astype(np.float16)
data['tests'] = data['tests'].astype(np.float16)
data['tests_1mpop'] = data['tests_1mpop'].astype(np.float16)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           211 non-null    object
 1   total_cases       211 non-null    float16
 2   new_cases         211 non-null    float16
 3   total_deaths      211 non-null    float16
 4   new_deaths        211 non-null    float16
 5   recovered         211 non-null    float16
 6   active            211 non-null    float16
 7   serious_critical  211 non-null    float16
 8   tot_cases_1m_pop  211 non-null    float16
 9   deaths_1_m_pop    211 non-null    float16
 10  tests             211 non-null    float16
 11  tests_1mpop       211 non-null    float16
dtypes: float16(11), object(1)
memory usage: 6.3+ KB

In [48]:
sums = data.sum()

/home/rindralilie/.local/lib/python3.8/site-packages/numpy/core/_methods.py:47: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

In [49]:
sums

country             USASpainItalyFranceGermanyChinaIranUKTurkeyBel...
total_cases                                                       inf
new_cases                                                     59040.0
total_deaths                                                      inf
new_deaths                                                     5160.0
recovered                                                         inf
active                                                            inf
serious_critical                                              48864.0
tot_cases_1m_pop                                                  inf
deaths_1_m_pop                                                 4054.0
tests                                                             inf
tests_1mpop                                                       inf
dtype: object

In [54]:
print(data[data['total_cases'].isnull()])

Empty DataFrame
Columns: [country, total_cases, new_cases, total_deaths, new_deaths, recovered, active, serious_critical, tot_cases_1m_pop, deaths_1_m_pop, tests, tests_1mpop]
Index: []

In [55]:
data

,country,total_cases,new_cases,total_deaths,new_deaths,recovered,active,serious_critical,tot_cases_1m_pop,deaths_1_m_pop,tests,tests_1mpop
0,USA,inf,20160.0,16096.0,1306.0,24560.0,inf,9736.0,1375.000000,49.0,inf,6976.0
1,Spain,inf,4224.0,15240.0,446.0,52160.0,inf,7372.0,3260.000000,326.0,inf,7592.0
2,Italy,inf,4204.0,18272.0,610.0,28464.0,inf,3604.0,2376.000000,302.0,inf,14112.0
3,France,inf,4800.0,12208.0,1341.0,23200.0,inf,7064.0,1804.000000,187.0,inf,3436.0
4,Germany,inf,2228.0,2452.0,102.0,46304.0,inf,4896.0,1379.000000,29.0,inf,15728.0
...,...,...,...,...,...,...,...,...,...,...,...,...
206,South Sudan,3.0,1.0,0.0,0.0,0.0,3.0,0.0,0.300049,0.0,0.0,0.0
207,Caribbean Netherlands,2.0,0.0,0.0,0.0,0.0,2.0,0.0,76.000000,0.0,10.0,381.0
208,Papua New Guinea,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.199951,0.0,72.0,8.0
209,Saint Pierre Miquelon,1.0,0.0,0.0,0.0,0.0,1.0,0.0,173.000000,0.0,0.0,0.0
210,Timor-Leste,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.799805,0.0,0.0,0.0